html{
    background-color: black;
}
.hero-1{
    max-width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}
.header{
    color:goldenrod;
}
.header-text{
    position: absolute;
    left:70%;
    right:10%;
    top:30%;
    color: #fff;
}
.header-text h2{
    font-size: 2rem;
}
.header-text h3{
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}
.header-text p{
    font-size: 1.2rem;
    text-align: center;
}
.our-services{
    text-align: center;
    color: #fff;
}
.our-services h3{
    font-style: italic;
    color: orangered;
}
.myform input{
    width: 40%;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
}
.myform textarea{
    width: 40%;
    border-radius: 25px;
    padding: 10px;
}
.myform label{
    text-decoration: none;
    color: #fff;
}
.mysubmit{
    background-color: goldenrod;
    color: #fff;
    border: transparent;
}
.my-services{
    margin: 100px;
    padding: auto;
    border: 1px dashed black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.desc{
    padding: 10px;
}
.my-img{
    max-width: 40%;
    margin: 10px;
}
.update-btn{
    background-color: orangered;
    padding: 10px;
    border: transparent;
    border-radius: 25px;
    width: 40%;
}
.update-btn a{
    text-decoration: none;
}
.delete-btn{
    background-color: red;
    padding: 10px;
    border: transparent;
    border-radius: 25px;
    width: 40%;
}
.delete-btn a{
    text-decoration: none;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
}
.services{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;
}
.services p{
    font-size: 1.2rem;
}
.service-img{
    max-width: 30%;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
    width: auto;
    color: #fff;
}
.products{
    top: 10px;
    margin: 10px;
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    text-align: center;
}
.products p{
    font-size: 1.2rem;
}
.product-img{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.add-cart{
    background-color: goldenrod;
    color: #fff;
    font-size: 1rem;
    border: transparent;
    border-radius: 25px;
    padding: 10px;
}
.add-cart a{
    text-decoration: none;
    color: #fff;
}
.more-products{
    background-color: goldenrod;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 20px;
    border-radius: 25px;
    border: transparent;
    text-align: center;
    float: right;
}
.more-products a{
    color: #fff;
    text-decoration: none;
}
.all-forms{
    position: relative;
    background-image: url('images/ew2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.all-lists{
    position: relative;
    background-image: url('images/62b95f297713d8a178a62fef_img-min-1-1\ \(1\)\ \(1\)\ \(1\)\ \(1\)\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
.testimonial-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    overflow-x: scroll;
}
.my-testimonials{
    width: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
}
.indiv-testimonial{
    margin-left: 20%;
    padding: 10px;
    text-align: center;
}
.indiv-testimonial p{
    font-size: 1.2rem;
}
.testimonial-img{
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product-category{
    padding: 5px;
    margin: 5px;
    background:transparent;
    color: #fff;
    border-radius: 25px;
    border: transparent;
}
.product-category a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}
.link-div a{
    text-decoration: none;
    text-align: center;
    
}
.link-img{
    width: 125px;
    border-radius: 50%;
}
.venue-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px dashed black;
    border-radius: 25px;
    height: 400px;
}
.venue-text{
    padding: 20px;
    margin: 10px;
}
.venue-images{
    padding: 10px;
    margin: 10px;
    max-width: 100%;
}
.search-input{
    width: 40%;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
}
.search-btn{
    width:10%;
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    color: black;
    border: transparent;
}
.search-btn:hover{
    background-color: goldenrod;
    color: #fff;
}
.div-container h1{
    color: #fff;
    text-align: center;
}
@media screen and (max-width:992px) {
    .hero-1{
        margin-left: 0;
    }
    /* .header-text{
        margin: 30px;
        left: 0;
        right: 0;
        text-align: center;
    } */
    .services-container{
        grid-template-columns: repeat(2,1fr);
    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:550px) {
    .header-text{
        top:15%;
        left:45%;
        right: 5%;
    }
    .header-text h2{
        font-size: 1.2rem;
    }
    .header-text p{
        font-size: 1.2rem;
    }
    .my-services{
        flex-direction: column-reverse;
        margin: 20px;
    }
    .my-img{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    .my-testimonials{
        width: 400px;
        margin: 20px;
    }
    .testimonial-img1{
        max-width: 30%;
    }
    .btn-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .link-img{
        width: 100px;
    }
    .more-products{
        float: unset;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}